/* font-family: 'Poiret One', cursive; */
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
/* font-family: 'Kreon', serif; */
@import url('https://fonts.googleapis.com/css?family=Kreon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.coral-back { background: coral; }
.cornflowerblue-back { background: cornflowerblue; }
.lightseagreen-back { background: lightseagreen; }
.gold-back { background: gold; }
.indianred-back { background: indianred; }

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 13px 0 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    background: lightseagreen;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    opacity: .5;
}
.single { 
    width: 100%;
}
.single .image{
    width: 100%;
    min-height: 45vh;
    background-size: cover;
    background-position: center;
}
.single .slick-prev,
.single .slick-next {
    width: 50px;
}
.single .product-name {
    font-size: 40px;
    font-family: 'Prata', serif;
    text-align: center;
    margin: 5px 0;
}
.single p {
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    color: #79726e;
    line-height: 23px;
    width: 250px;
    margin: 0 auto 20px;
}
.single .cart-icon {
    text-align: center;
    width: 250px;
    margin: 0 auto;
}
.single .cart-icon .fas {
    width: 50px;
    height: 50px;
    color: #ccc;
    padding: 15px 0 0 0;
    border: 1px solid #ff7f50;
    border-radius: 50%;
    transition: .5s;
}
.single .cart-icon .fas:hover {
    color: #fff;
    background: #ff7f50;
}
.slick-prev{
    left: 0%;
    z-index: 1;
}
.slick-next{
    left: 80%;
    z-index: 1;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
    opacity: .5;;
}
/* js */

body {
    width: 100%;
    font-family: sans-serif;
}
.header {
    width: 100%;
    height: 75px;
    background: #fff;
    border-bottom: 1px solid #eee;
    z-index: 2;
    position: fixed;
}
.header .logo a {
    font-size: 25px;
    font-family: 'Poiret One', cursive;
    color: lightseagreen;
    text-align: center;
    top: 20px;
    left: 20px;
    position: absolute;
    z-index: 1;
}
.header ul {
    list-style: none;
    top: 30px;
    right: 20px;
    position: fixed;
}
.header ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}
.header ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: .5s;
    box-sizing: border-box;
    transition: .5s;
}
.header ul li a:hover {
    opacity: .5;
}
.main {
    width: 100%;
}
.main .main-title {
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    color: #eee;
    text-align: center;
    top: 15%;
    left: 35%;
    position: absolute;
    z-index: 1;
}
.main .main-title span {
    display: block;
    font-size: 13px;
}
.main ol {
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    z-index: 1;
}
.main ol li {
    margin: -40px 30px 0;
}
.main ol li a {
    font-size: 13px;
    color: #fff;
    transition: .5s;
}
.main ol li a:hover {
    color: rgb(0, 46, 49);
}
.contents {
    width: 90%;
    margin: 50px auto;
}
.contents .contents-heading {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    color: #324244;
    letter-spacing: .2rem;
    margin: 0 0 15px 0;
}
.contents .contents-heading span {
    display: block;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: .5rem;
    opacity: .5;
}
.contents .post-add a {
    display: block;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
    color: lightseagreen;
    width: 200px;
    margin: 20px auto;
    padding: 10px 15px;
    border: 1px solid lightseagreen;
    transition: .5s;
}
.contents .post-add a:hover {
    color: #fff;
    background: lightseagreen;
}
.contents .content-item-4 {
    display: flex;
    margin: 0 0 50px 0;
    padding: 0 0 50px 0;
    border-bottom: 1px solid #eee;
}
.contents .content-item-3 {
    text-align: center;
}
.contents .content-item-4 .content-item {
    width: 25%;
    margin: 0 20px;
}
.contents .content-item-3 .content-item {
    display: inline-block;
    width: 27%;
    margin: 0 30px 50px;
}
.contents .content-item-4 .content-item .content-category,
.contents .content-item-3 .content-item .content-category {
    font-size: 12px;
    text-align: center;
    color: #fff;
    width: 80px;
    padding: 5px 10px;
    top: 19px;
    right: 7px;
    position: relative;
    z-index: 1;
}
.contents .content-item-4 .content-item .content-category::before,
.contents .content-item-3 .content-item .content-category::before {
    content: '';
    display: block;
    border-color: transparent transparent transparent #db2f06;
    position: absolute;
    top: 0;
    right: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 0 8px;
    border-color: transparent transparent transparent #ccc;
    z-index: 0;
}
.contents .content-item-4 .content-item .content-category::after,
.contents .content-item-3 .content-item .content-category::after {
    content: '';
    position: absolute;
    top: 24px;
    left: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 6px 0;
    border-color: transparent #ccc transparent transparent;
    z-index: 0;
} 
.contents .content-item-4 .content-item img,
.contents .content-item-3 .content-item img {
    width: 100%;
    height: 170px;
    margin: 0 0 7px 0;
    object-fit: cover;
}
.contents .content-item-4 .content-item .content-item-title,
.contents .content-item-3 .content-item .content-item-title {
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    line-height: 23px;
    letter-spacing: -.3px;
    color: rgb(0, 46, 49);
}
.contents .content-item-3 .content-item .content-item-title {
    margin: 0 0 15px 0;
}
.contents .content-item-3 .content-item .content-item-info {
    display: flex;
    justify-content: space-between;
}
.contents .content-item-3 .content-item .content-item-info .user-info {
    display: flex;
}
.contents .content-item-3 .content-item .content-item-info .user-info img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.contents .content-item-3 .content-item .content-item-info .user-info .no-thumbnail {
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.contents .content-item-3 .content-item .content-item-info span {
    font-size: 12px;
    font-weight: 100;
    color: #a9a9a9;
    top: 7px;
    position: relative;
}
.contents .content-item-3 .content-item .content-item-info .user-info span {
    font-size: 13px;
    color: #a9a9a9;
}
.contents .more-button {
    width: 250px;
    margin: 20px auto 100px;
}
.contents .more-button a {
    font-size: 16px;
    font-weight: bold;
    color: lightseagreen;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 40px;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    transition: .5s;
}
.contents .more-button a:hover {
    color: #fff;
    background: lightseagreen;
}
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    margin: 50px auto 0;
    background: lightseagreen;
}
.footer .footer-contents {
    width: 75%;
    margin: 0 auto;
    color: #eee;
    padding: 40px 0;
}
.footer .footer-contents .footer-content {
    display: flex;
    justify-content: center;
}
.footer .footer-contents .footer-content .explanation{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .category{
    margin: 0 50px 0 0;
}
.footer .footer-contents .footer-content .footer-content-title {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 15px 0;
}
.footer .footer-contents .footer-content .footer-content-comment {
    font-size: 11px;
    font-weight: 300;
}
.footer .footer-contents .footer-content .footer-content-comment ul {
    list-style: none;
}
.footer .footer-contents .footer-content .footer-content-comment ul li {
    margin: 0 0 5px 0;
}
.footer .footer-contents .footer-content .footer-content-comment a {
    color: #eee;
    text-decoration: none;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab {
    font-size: 15px;
    color: #eee;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 6px 0 0 0;
    border: 1px solid #eee;
    border-radius: 3px;
    transition: .5s;
}
.footer .footer-contents .footer-content .footer-content-comment .sns-icon a .fab:hover {
    color: #fff;
    background: #eee;
}
.footer p {
    font-size: 10px;
    text-align: center;
    padding: 50px 0 0 0;
}

/* フォーム */
.post-input {
    font-size: 13px;
    width: 100%;
    height: 35px;
    margin: 15px 0 0;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #ccc inset;
}
.post-textarea {
    font-size: 13px;
    width: 100%;
    height: 100px;
    margin: 15px 0 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #ccc inset;
}
.post-select {
    margin: 15px 10px 60px 0;
}
.post-create {
    font-size: 15px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 1px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0 0 5px 5px;
    background: coral;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}
.post-create:hover {
    opacity: .5;
}
.post-edit {
    background: indianred;
}
.error {
    font-size: 13px;
    color: coral;
    margin: 5px 0;
}

/* モーダル */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
.modal__bg{
    background: rgba(0,0,0,0.5);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
}
.post-add-modal-close-icon {
    position: relative;
    left: 390px;
}
.modal__content_wh {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
}