/* font-family: 'Poiret One', cursive; */
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
/* font-family: 'Kreon', serif; */
@import url('https://fonts.googleapis.com/css?family=Kreon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a {
    display: block;
    text-decoration: none;
}

/* js */
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 50px;
    height: 90px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px 0 0 0;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: .5s;
    right: 50px;
    bottom: 50px;
    position: fixed;
}
#page-top a:hover {
    color: #fff;
    background: #ff7f50;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
    opacity: .5;;
}
/* js */

body {
    width: 100%;
    background-image: url(../img/background.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.contents {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 75px;
}
.contents .content .main-title a {
    width: 60%;
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    color: lightseagreen;
    text-align: center;
    margin: 0 auto;
    transition: .5s;
}
.contents .content .main-title a span {
    display: block;
    font-size: 13px;
}
.contents .content .main-title a:hover {
    opacity: .5;
}

/* ログイン・登録 */
.main-form {
    overflow: hidden;
}
.form-box {
    width: 380px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.button-box {
    width: 220px;
    margin: 75px auto;
    position: relative;
    box-shadow: 0 0 5px #ccc;
    border-radius: 30px;
    text-align: center;
}
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #000;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: lightseagreen;
    border-radius: 30px;
    transition: .5s;
}
.explanation-text {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 15px 0;
}
.input-group {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    font-size: 12px;
    color: #000;
    margin: 0 0 20px 0;
    padding: 10px;
    border: 0;
    box-sizing: border-box;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 5px #ccc;
    transition: 1s;
}
.submit-btn {
    width: 50%;
    padding: 15px 30px;
    font-size: 13px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    color: #fff;
    background: lightseagreen;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: .5s;
}
.submit-btn:hover {
    background: cornflowerblue;
}
#login {
    left: 50px;
}
#register {
    left: 450px;
}